# Compiled class files
*.class

# Maven / Gradle
target/
build/

# IntelliJ / Eclipse
*.iml
.idea/
*.ipr
*.iws
*.log
*.class
*.jar
*.war
*.ear
.DS_Store
.settings/
.project
.classpath

# OS junk files
Thumbs.db
.DS_Store
